@import "tailwindcss";

@theme {
  --font-spectral-sc: var(--font-spectral-sc);
  --font-montserrat: var(--font-montserrat);
}

:root {
  --primary-color: #bd8d4c;
  --secondary-color: #efe1cb;
  --tertiary-color: #e4d4b9;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.font-spectral {
  font-family: var(--font-spectral-sc);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-spectral-sc);
}

p, span, a, li, button, input, textarea {
  font-family: var(--font-montserrat);
}


